body {
    background: rgb(37, 34, 34);    
    color: rgb(174, 164, 164);
    font-family: monospace;
    font-size: 32px;
    padding: 2rem;
    /* width: 65%; */
    /* text-align: center; */
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    position: relative;
    top: -75px;
}

h1 {
    font-size: 24px;
}

.typing-container {
    margin: 20px auto;
    width: 60%;
    border: 2px solid #fff;
    border-radius: 10px;
    /* border: none; */
    padding: 5px;
    position: relative;
    /* background: rgb(37, 34, 34); */
    text-align: left;
    box-sizing: border-box;
    position: relative;
}

.sentence {
    /* font-size: 1rem; */
    margin: 0px; 
    color: gray;
    white-space: pre-wrap;
    overflow-wrap: break-word;
}

.sentence span {
    display: inline-block;
    /* font-size: 14px; */
    font-family: monospace;
}

/* Hidden input for typing */
textarea {
    position: absolute;
    /* margin: 0px; */
    /* padding: 0px; */
    top: 0;
    left: 0;
    opacity: 0;
    z-index: -1; /* Keep it out of visual focus */
}

button {
    font-size: 0.8rem;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    background: #333;
    color: white;
    padding: 5px 10px;
    margin-top: 10px;
}

button:hover {
    background: #555;
}

#timer {
    color: #e9bd2f;
    /* font-size: 12px; */
    font-weight: bold;
    margin: 0px;
}
